@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.applicantForm__div{
  background: gray;
}
.application__formWrapper{    
  width: 65%;
  margin: 0 auto;
}
.fullName__wrapper{
  width: 55%;
}
.date__wrapper{
  width: 35%;
}
.employment__formAddress{
  width: 93%;
  margin: 13px auto;
}
.employment__dataAvailable{
  width: 30%;    
}
